.cart {
  border: 2px solid rgba(var(--color-grey-20), 1);
  border-radius: 6px;
  transition: 0.3s;
}

.cart:hover,
.cart:focus {
  border: 2px solid rgba(var(--color-green), 1);
}
.cartHeader {
  width: 365px;
  height: 65px;
  background-color: rgba(var(--color-green), 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px 3px 0px 0px;
}

.cartHeader > h2 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: rgba(var(--color-white), 1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.icon {
  font-size: 2rem;
}

.emptyCartBox {
  width: 365px;
  min-height: 158px;
  max-height: 330px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(var(--color-grey-0), 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyCartBox h2 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
  color: rgba(var(--color-grey-100), 1);
}

.emptyCartBox > p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  color: rgba(var(--color-grey-50), 1);
}

.cartBox {
  width: 365px;
  min-height: 158px;
  max-height: 330px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(var(--color-grey-0), 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
  overflow-y: scroll;
}

.cartBox::-webkit-scrollbar {
  width: 8px;
}

.cartBox::-webkit-scrollbar-thumb {
  background-color: rgba(var(--color-grey-50), 1);
  border-radius: 10px;
}

.cartBox > h2 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
  color: rgba(var(--color-grey-100), 1);
}

.cartBox > p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  color: rgba(var(--color-grey-50), 1);
}

.itemInCart {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(var(--color-grey-20), 1);
  border-radius: 5px;
  transition: 0.3s;
}

.itemInCart:hover,
.itemInCart:focus {
  background-color: rgba(var(--color-white), 1);
  box-shadow: 0px 7px 11px -3px rgba(var(--color-grey-100), 0.1);
}

.imageBox {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--color-grey-20), 1);
  border-radius: 2px;
  transition: 0.2s;
  overflow: hidden;
}

.imageBox > img {
  height: 100%;
}

.description {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productName {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(var(--color-grey-100), 1);
}

.category {
  font-weight: 500;
  font-size: 0.75rem;
  color: rgba(var(--color-grey-50), 1);
}

.price {
  font-weight: 600;
  font-size: 0.875rem;
  color: rgba(var(--color-grey-100), 1);
}

.config {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background-color: transparent;
}

.config > button {
  background-color: transparent;
  color: rgba(var(--color-grey-100), 1);
  cursor: pointer;
  transition: 0.2s;
}

.config > button:hover,
.config > button:focus {
  transform: scale(1.05);
  /* color: rgba(var(--color-grey-100), 0.8); */
}

.sectionCartTotal {
  width: 368px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 6px;
  border: 2px solid rgba(var(--color-grey-20), 1);
  background-color: rgba(var(--color-grey-0), 1);
}

.sectionCartTotal:hover, .sectionCartTotal:focus {
  border: 2px solid rgba(var(--color-green, 1));
}

.totalDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalDiv > p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(var(--color-grey-100), 1);
}

.totalDiv > p + p {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(var(--color-grey-50), 1);
}

.totalValue {
  width: 100%;
}

.totalValue > button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.188rem;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  color: rgba(var(--color-white), 1);
  background-color: rgba(var(--color-red-light), 1);
  transition: 0.3s;
  cursor: pointer;
}

.totalValue > button:hover {
  background-color: rgba(var(--color-red-light), 0.8);
}

@media screen and (max-width: 600px) {
  .cartHeader > h2 {
    font-size: 1rem;
  }

  .emptyCartBox h2 {
    font-size: 1rem;
  }

  .emptyCartBox > p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .cartHeader {
    width: 100%;
  }

  .emptyCartBox {
    width: 100%;
  }

  .cartBox {
    width: 100%;
  }

  .sectionCartTotal {
    width: 100%;
  }
}
